In [1]:
import pandas as pd

In [2]:
lista = [['Manzana',7],['Pera',9],['Mandarina',11]]
df = pd.DataFrame(lista,columns=['Fruta','Numero'])
print(df)

       Fruta  Numero
0    Manzana       7
1       Pera       9
2  Mandarina      11

In [3]:
lista = [['Manzana',7],['Pera',9],['Mandarina',11]]
df = pd.DataFrame(lista,columns=['Fruta','Numero'])
print(df['Fruta'])

0      Manzana
1         Pera
2    Mandarina
Name: Fruta, dtype: object

In [4]:
lista = [['Manzana',7],['Pera',9],['Mandarina',11]]
df = pd.DataFrame(lista,columns=['Fruta','Numero'])
col = [3,5,7]
print(df)
df['OtroNum'] = col
print(df)
del df['Numero']
print(df)

       Fruta  Numero
0    Manzana       7
1       Pera       9
2  Mandarina      11
       Fruta  Numero  OtroNum
0    Manzana       7        3
1       Pera       9        5
2  Mandarina      11        7
       Fruta  OtroNum
0    Manzana        3
1       Pera        5
2  Mandarina        7

In [8]:
lista = [['Manzana',7],['Pera',9],['Mandarina',11],['Mango',2]]
df = pd.DataFrame(lista,columns=['Fruta','Numero'])
print(df)
print(df[1:3])

       Fruta  Numero
0    Manzana       7
1       Pera       9
2  Mandarina      11
3      Mango       2
       Fruta  Numero
1       Pera       9
2  Mandarina      11

In [11]:
lista = [['Manzana',7],['Pera',9]]
lista2 = [['Mandarina',11],['Mango',2]]
df = pd.DataFrame(lista,columns=['Fruta','Numero'])
df2 = pd.DataFrame(lista2,columns=['Fruta','Numero'])
df = pd.concat([df, df2])
print(df)
df = df.drop(1)
print(df)

       Fruta  Numero
0    Manzana       7
1       Pera       9
0  Mandarina      11
1      Mango       2
       Fruta  Numero
0    Manzana       7
0  Mandarina      11

In [13]:
lista = [['Manzana',7],['Pera',9]]
lista2 = [['Mandarina',11],['Mango',2]]
df = pd.DataFrame(lista,columns=['Fruta','Numero'],index=['uno','dos'])
df2 = pd.DataFrame(lista2,columns=['Fruta','Numero'],index=['tres','cuatro'])
df = pd.concat([df, df2])
print(df)
df = df.drop('dos')
print(df)

            Fruta  Numero
uno       Manzana       7
dos          Pera       9
tres    Mandarina      11
cuatro      Mango       2
            Fruta  Numero
uno       Manzana       7
tres    Mandarina      11
cuatro      Mango       2

In [14]:
lista = [[1,2,3],[4,5,6],[7,8,9]]
df = pd.DataFrame(lista)
print(df)
print(df.describe())

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
         0    1    2
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0