In [3]:
(lista <- list(
  c(1, 2, 3),
  33,
  matrix(c(6, 7, 14, 1), nrow = 2),
  mean
))

[[1]]
[1] 1 2 3

[[2]]
[1] 33

[[3]]
     [,1] [,2]
[1,]    6   14
[2,]    7    1

[[4]]
function (x, ...)
UseMethod("mean")
<bytecode: 0x5d7ce93d0d30>
<environment: namespace:base>

In [11]:
v <- 1:5
(mi_dataframe <- data.frame(
x = letters[1:5],
y = v,
z = v > 2
))

  x y z
1 a 1 FALSE
2 b 2 FALSE
3 c 3  TRUE
4 d 4  TRUE
5 e 5  TRUE