In [1]:
(array_3d <- array(
  1:24,
  dim = c(2, 3, 4),
  dimnames = list(
    c("izquierda", "derecha"),
    c("primero", "segundo", "tercero"),
    c("uno", "dos", "tres", "cuatro")
  )
))

, , uno

          primero segundo tercero
izquierda       1       3       5
derecha         2       4       6

, , dos

          primero segundo tercero
izquierda       7       9      11
derecha         8      10      12

, , tres

          primero segundo tercero
izquierda      13      15      17
derecha        14      16      18

, , cuatro

          primero segundo tercero
izquierda      19      21      23
derecha        20      22      24

In [2]:
dim(array_3d)
length(dim(array_3d))

[1] 2 3 4

[1] 3

In [9]:
array_3d[,1:2,c(2,3)]

, , dos

          primero segundo
izquierda       7       9
derecha         8      10

, , tres

          primero segundo
izquierda      13      15
derecha        14      16

In [4]:
(matriz <- matrix(
  1:6,
  nrow = 3, #ncol = 2 hace lo mismo
  dimnames = list(
    c("uno", "dos", "tres"),
    c("arriba", "abajo")
  )
))

     arriba abajo
uno  1      4
dos  2      5
tres 3      6

In [5]:
matriz[,2]

 uno  dos tres
   4    5    6

In [6]:
matriz2 <- matrix(
  3:8,
  nrow = 3, #ncol = 2 hace lo mismo
  dimnames = list(
    c("uno", "dos", "tres"),
    c("arriba", "abajo")
  )
)

matriz + matriz2

     arriba abajo
uno  4      10
dos  6      12
tres 8      14